{%  extends '::base.html.twig' %}

{% block body %}
<h1>Welcome to {{ party.name }}</h1>

{% for track in party.tracks %}
    {{ track.name }}<br/>
{% endfor %}

<form action="{{ path('search') }}" method="post" {{ form_enctype(searchForm) }}>
    {{ form_widget(searchForm) }}
    <p>
        <button type="submit">Search</button>
    </p>
</form>

{% endblock %}