{%  extends '::base.html.twig' %}

{%  block body %}
{% if tracks %}
<ul>
{% for track in tracks %}
    <li><a href="{{ path('add', { 'key': track.key, 'name': track.name|url_encode(), 'artist': track.artist|url_encode(), 'album': track.album|url_encode()}) }}">
        {{ track.key }}: {{ track.name }} ({{ track.artist }} : {{ track.album }})</a>
    </li>
{% endfor %}
</ul>
{% else %}
    No matching tracks found. Please try again.
{%  endif %}
{%  endblock %}